PORT_BASE=3100
LISTEN_HOST=127.0.0.1
WORKER_ID=worker-0
WORKER_ID_PREFIX=worker-
REQUEST_TIMEOUT_MS=30000
PUBLIC_BASE_URL=https://api.845817074.xyz
ALLOWED_ORIGIN=*
BACKOFF_BASE_MS=1000
FAILURE_WINDOW_MS=10000
CIRCUIT_FAILURE_THRESHOLD=3
CIRCUIT_OPEN_MS=5000
GLOBAL_CONCURRENCY_LIMIT=10
CONCURRENCY_TTL_SECONDS=30
SINGLE_FLIGHT_LOCK_MS=2000
SINGLE_FLIGHT_WAIT_MS=1000
SINGLE_FLIGHT_POLL_MS=25
SINGLE_FLIGHT_RESULT_TTL_MS=1000
GENRE_CACHE_TTL_SECONDS=60
TAG_CACHE_TTL_SECONDS=10
RANKING_CACHE_TTL_SECONDS=5
NEGATIVE_CACHE_TTL_SECONDS=10
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_CONNECT_TIMEOUT_MS=2000
REDIS_NAMESPACE=rakuten-proxy
RAKUTEN_APPLICATION_ID=replace_with_your_application_id
RAKUTEN_ACCESS_KEY=replace_with_your_access_key
